body{
  background-color: black;
}
h1{
   color: white;
}
p{
  background-color: gray;
  color: white;
}
.odd{
    color: gold;   
}
#p3{
  color: green;
}

h1{
   text-decoration: gold;
   border-style: dotted;
   border-left: 5px;
   border-right: 5px;
   border-bottom: 5px;
   border-top: 5px;
   border-bottom-style: dotted;
   border-top-style: dotted; 
   border-left-style: dotted;
   border-right-style: dotted;
   border-bottom-color: gold;
   border-left-color: gold;
   border-top-color: gold;
   border-right-color: gold;
}

p{
  border-style: dotted;
  border-color: blue;
  border-radius: 10px;
  border-width: 5px;
  padding: 5px;
}

